<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="none">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
        {% if title %}
        <title>🔍 TwArchive - {{ title }}</title>
        {% else %}
        <title>🔍 TwArchive</title>
        {% endif %}
    </head>

    <body>
        <div class="maindiv">
            {% if title %}
            <a class="heading" href="{{ url_for('home') }}"><h1>🔍 TwArchive - {{ title }}</h1></a>
            {% else %}
            <h1>🔍 TwArchive</h1>
            {% endif %}

            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>
