{% extends "layout.html" %}
{% block content %}
    {% if form %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.rf(class_="type-selection") }}
        <div class="fields">
            <div class="field">
                {{ form.query.label() }}
                {{ form.query() }}
            </div>
            <div class="field">
                {{ form.archive_name.label() }}
                {{ form.archive_name() }}
            </div>
        </div>
        <div>
            {{ form.case_sensitive() }}
            {{ form.case_sensitive.label() }}
        </div>
        <div>
            {{ form.descending() }}
            {{ form.descending.label() }}
        </div>
        {{ form.submit(class_="btn") }}
    </form>
    {% endif %}

    {% if query %}
    <h2>
        {% if count %}
        <b>{{ count }} Results for query</b>:
        {% else %}
        <b>Results for query</b>:
        {% endif %}
        {% if type == "source" %} "source = {{ query }}"
        {% elif type == "text" %} "text = {{ query }}"
        {% elif type == "date" %} "date = {{ query }}" {% endif %}
    </h2>
    {% endif %}

    <ul class="tweets">
        {% for tweet in results %}
        <li class="tweet">
            <p class="tweet__content">{{ tweet[3] | safe }}</p>
            <p class="tweet__sources">
                <!-- Funfact: "tweet" in the URL can be replaced with anything else except nothing and it still works O_o -->
                &mdash; <a href="https://twitter.com/tweet/status/{{ tweet[0] }}" target="_blank">{{ tweet[1] }}</a> via <b>{{ tweet[2] }}</b>
            </p>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
